* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c2c50b;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  height: 680px;
  background: #0aa4e0;
  border-radius: 15px;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  overflow: hidden;
  width: 450px;
  height: 80px;
  background: #e0dfdf;
  border: 2px solid #c2c50b;
  border-radius: 10px;
  font-size: 38px;
  font-weight: bold;
}

.keyboard {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  height: 520px;
  width: 450px;
  border: 2px solid #c2c50b;
  border-radius: 15px;
}

.btn {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 15px;
  transition: all 1s;
}

.btn:hover {
  transform: scale(1.1);
  color: #c2c50b;
  background: #3a3838;
}

.property {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.property a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.property a:hover {
  color: #c5650b;
}

.reset {
  margin-right: 10px;
  width: 160px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #ee4242;
  border: 2px solid #000;
  cursor: pointer;
  transition: all 1s;
}

.reset:hover {
  transform: scale(1.1);
  border-radius: 15px;
}

.reset:active {
  background: #5cee42;
}

@media only screen and (max-height: 700px) {
  .calculator {
    height: 500px;
    background: #e0720b;
  }
  .display {
    margin: 10px auto;
  }

  .keyboard {
    height: 420px;
  }
}
